@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

:root {
    /* Colors */

    /* Primary */
    --light-cyan: hsl(193, 38%, 86%);
    --neon-green: hsl(150, 100%, 66%);

    /* Neutral */
    --grayish-blue: hsl(217, 19%, 38%);
    --dark-grayish-blue: hsl(217, 19%, 24%);
    --dark-blue: hsl(218, 23%, 16%);
}

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Manrope', sans-serif;
    font-size: 1.75rem;
    background-color: var(--dark-blue);
}

main.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

div.box {
    max-width: 550px;
    min-height: 370px;
    background-color: var(--dark-grayish-blue);
    border-radius: 20px;
}

div.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px 50px 0px 50px;
    position: relative;
}

p {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-bottom: 15px;
    color: var(--neon-green);
    
}

div.advice-text-container {
    height: 170px;
    width: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

h3 {
    font-size: 1.75rem;
    text-align: center;
    color: var(--light-cyan);
}

img.divider-mob {
    display: none;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: var(--neon-green);
    height: 60px;
    width: 60px;
    border: none;
    border-radius: 50%;
    bottom: -85px;
    cursor: pointer;
    user-select: none;
    outline: none;
}

button:hover {
    box-shadow: hsla(150, 100%, 66%, 1) 0px 0px 40px;
}

@media (max-width: 590px) {

    div.box {
        max-width: 350px;
        min-height: 370px;
    }
    
    div.content {
        padding: 30px 30px 0px 30px;
        position: relative;
    }
    
    p {
        font-size: 12px;
        margin-bottom: 15px;
        
    }
    
    div.advice-text-container {
        height: 150px;
        width: 300px;
        margin-bottom: 50px;
    }
    
    h3 {
        font-size: 24px;
    }

    img.divider-mob {
        display: block;
    }

    img.divider-desk {
        display: none;
    }
    
    button {
        position: absolute;
        height: 60px;
        width: 60px;
        bottom: -120px;
    }
    
}
